{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Herkese merhaba ben Emir Faruk Kayaoğlu öncelikle bu siteyi kurmanın verdiği mutluluk ve heyecanı yaşayarak sitemi tanıtmak istiyorum. Bu siteyi kurmamın en büyük nedeni, hayatta gerçekleştirmek istediğim bir çok hedefim olduğunu farketmemle ve bu siteyi beni ideallerime yaklaştıran bir araç olarak görmem oldu. Sitemi hayatımdaki bazı dönüşümleri, kariyerimi ve hakkımdaki bilgileri görebileceğiniz bir online arşiv olarak kullanacağım.
<hr>
{% endblock body %}